<footer class="main-footer">
  <img
    src="https://github.com/bkcatton/castanetTwo/blob/master/public/images/newlogo.png?raw=true"
  />

  <a href="#top"><button class="back-button">Back to Top</button></a>
</footer>
