<footer class="main-footer">
  <a href="/">
    <img
      src="https://github.com/bkcatton/castanetTwo/blob/master/public/images/logo.png?raw=true"
    />
  </a>
  <span> Cast-a-Net <sup>©</sup></span>
  <a href="#top"><button id="back-button">Back to Top</button></a>
</footer>
