<footer class="main-footer">
  <a href="/">
    <img
      src="https://github.com/bkcatton/castanetTwo/blob/master/public/images/logo.png?raw=true"
    />
  </a>
  <span> Cast-a-Net <sup>©</sup></span>
  <span class="footer-link"><a href="#top">Back to top</a></span>
</footer>
