<% if(user){%>

<nav>
  <a href="/">
    <img
      src="https://github.com/bkcatton/castanetTwo/blob/master/public/images/newlogo.png?raw=true"
    />
  </a>
<<<<<<< HEAD

  <a href="/new">
    <h2 class="navtext"><span class="sell"> Sell </span></h2>
  </a>
  <a href="./favorites">
    <h2 class="navtext"><span class="favorites"> Favourites </span></h2>
  </a>
  <a href="./myListings">
    <h2 class="navtext"><span class="logout"> My Listings </span></h2>
  </a>
  <a href="./myMessages">
    <h2 class="navtext"><span class="logout"> My Messages </span></h2>
  </a>

  <a href="/logout">
    <h2 class="navtext"><span class="login"> Logout </span></h2>
=======
  <span class="navtext"><button class="back-button">Buy</button></span>
  <a href="/new">
    <span class="navtext"><button class="back-button">Sell</button></span>
  </a>
  <a href="./favorites">
    <span class="navtext"><button class="back-button">Favorites</button></span>
  </a>
  <a href="./myListings">
    <span class="navtext"><button class="back-button">My Listings</button></span>
  </a>
  <a href="./myMessages">
    <span class="navtext"><button class="back-button">My Messages</button></span>
  </a>

  <a href="/logout">
    <span class="login"><button class="back-button">Logout</button></span>
>>>>>>> master
  </a>
</nav>

<%} else {%>
<nav>
  <div>
    <a href="/">
      <img
        src="https://github.com/bkcatton/castanetTwo/blob/master/public/images/newlogo.png?raw=true"
      />
    </a>
  </div>
  <div class="logged-off">
    <!-- <h2><span class=""> Buy </span></h2> -->

    <a class="logit" href="/login/1">
      <h2 class="navtext"><span> Login </span></h2>
    </a>
  </div>
</nav>
<%}%>
