<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/newlisting.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new.css" type="text/css" />
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />
    <!-- <script type="text/javascript" src="/scripts/newQ.js"></script> -->
    <!-- <script type="text/javascript" src="/scripts/new.js"></script> -->
    <!-- <script type="text/javascript" src="/routes/new.js"></script> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <!-- <link rel="stylesheet" href="../public/styles/home.css" type="text/css" /> -->
    <title>Header</title>
  </head>

  <body>
    <%- include('./partials/_header'); %>
    <h1 class="new-form-label">List your property:</h1>
    <section class="add-new-property">
      <form id="new-form" action="/new" method="POST">
        <div>
          <input placeholder="List Price" type="text" name="price" />
          <input placeholder="Address" type="text" name="address" />
        </div>
        <div>
          <input placeholder="City" type="text" name="city" />
          <input placeholder="Postal Code" type="text" name="postcode" />
        </div>
        <div>
          <input placeholder="Square ft" type="text" name="sqft" />

          <input placeholder="Type" type="text" name="type" />
        </div>
        <div>
          <input placeholder="Bedrooms" type="text" name="bedrooms" />
          <input placeholder="Bathrooms" type="text" name="bathrooms" />
        </div>
        <div>
          <input placeholder="Parking Spaces" type="text" name="parking" />
          <input placeholder="Photo URL" type="text" name="photo_url" />
        </div>
        <div>
          <textarea
            class="desc-text"
            name="title"
            placeholder="Property description"
            cols="30"
            rows="10"
          ></textarea>
          <!-- <input placeholder="Description" type="text" name="title" /> -->
          <button type="submit" id="new-listing-button">Add Listing</button>
        </div>
      </form>
    </section>

    <main></main>

    <%- include('./partials/_footer'); %>
  </body>
</html>
