<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <!-- <link rel="stylesheet" href="../public/styles/home.css" type="text/css" /> -->
    <title>Header</title>
  </head>

  <body>
    <nav>
      <h2><span class=""> Cast-a-Net </span></h2>
      <h2><span class=""> Buy </span></h2>
      <h2><span class=""> Sell </span></h2>
      <h2><span class=""> Register </span></h2>
      <h2><span class=""> Login </span></h2>
    </nav>

    <div>
      <form action="/listings" method="post">
        <h2>Search by city</h1>
        <input type="text" name="city"/>
        <input type="text" name="price"/>
        <button>button</button>
      </form>
    </div>
    <main>
      <div class="top-row">

      </div>
      <div class="bottom-row">
        <!-- <div>image4</div>
        <div>image5</div>
        <div>image6</div> -->
      </div>
    </main>

    <footer class="main-footer">
      <span> Cast-a-Net <sup>©</sup></span>
      <span class="footer-link"><a href="#top">Back to top</a></span>
    </footer>
  </body>
</html>
