nav {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  background-color: rgb(146, 250, 193);
  height: 3em;
  padding-left: 2%;
  padding-right: 8%;
  position: sticky;
  top: 0;
  width: 90%;
  height: 5%;
  z-index: 10;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255),
    1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
  margin-right: 10%;
}
nav img:hover, nav h2:hover {
  cursor: pointer;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
  color: seagreen;
}
form {
  margin-top: 25em;
  display: flex;
  justify-content: center;
}
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:rgb(146, 250, 193);
}

