.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 235, 235);
  /* border: black 1px solid; */
  width: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.listing-photo {
  width: 80%;
  height: auto;
  border-radius: 30px;
  margin-bottom: 5%;
}

#message-body:focus {
  outline: none;
}
#message-body {
  height: 10em;
  resize: none;
  border: 1px;
  border-radius: 5px;
  width: 75%;
}
#buyer_number {
  border: 1px;
  border-radius: 5px;
  width: 75%;
  height: 2em;
}

#buyer_number:focus {
  outline: none;
}

#buyer_name {
  border: 1px;
  border-radius: 5px;
  width: 75%;
  height: 2em;
}

#buyer_name:focus {
  outline: none;
}
