.all-conversations {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.thread-box {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
border: 2px solid black;
border-radius: 5px;
width: 75%;
margin: 10px;
padding: 5px;
}

div > h4 {
  display: flex;
  justify-content: center;
}
.conversations{
  display: flex;
  flex-direction: column;
  margin: 100px;
}
.bubble-message-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.bubble-message-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
