.add-new-property {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.add-new-property div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50%;
}

.new-form-label {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.add-new-property input {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 90%;
  height: 20%;
  text-overflow: wrap;
  display: flex;
  padding-bottom: 5%;
  flex-wrap: wrap;

}

#new-listing-button {
  color:whitesmoke;
  background-color: steelblue;
  width: 80%;
  height: 30%;
}
